<div class="card shadow mb-4">
    <div class="card-header py-3 bg-black">
        <h6 class="m-0 font-weight-bold text-white">Lista de Categorias</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3">
                <button class="btn btn-success" data-toggle="modal" data-target="#modalData"><i class="fas fa-plus-circle"></i> Nueva Categoria</button>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered" id="tbdata" cellspacing="0" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Hoddies</td>
                            <td>Descubre nuestra colección de hoodies, la combinación perfecta de comodidad y estilo. Ideal para cualquier ocasión, nuestros hoodies ofrecen materiales de alta calidad, diseños modernos y detalles funcionales como bolsillos
                                y capuchas ajustables. Encuentra tu hoodie favorito y mantente abrigado y a la moda todo el año.</td>
                            <td>
                                <button class="btn btn-primary btn-sm">
                                        <i class="fas fa-pencil-alt"></i>
                                    </button>
                                <button class="btn btn-danger btn-sm">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--  Modal-->
<div class="modal fade" id="modalData" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6>Detalle Categoria</h6>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" value="0" id="txtId">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-row">
                                <div class="form-group col-sm-12">
                                    <label for="txtNombre">Nombre</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtNombre" name="Nombre">
                                </div>
                                <div class="form-group col-sm-12">
                                    <label for="txtDescripcion">Descripcion</label>
                                    <textarea class="form-control form-control-sm" id="txtDescripcion" name="Descripcion"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-sm" type="button" id="btnGuardar">Guardar</button>
                <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>