<mat-card class="mat-elevation-z2">
    <mat-card-title>
        <mat-toolbar color="secondary">
            <span>Marcas</span>
            <button mat-raised-button color="primary" class="ml-auto" (click)="createMarca()">
                    <mat-icon>add</mat-icon>
                    <span>Agregar Marca</span>
                </button>
        </mat-toolbar>
        <mat-form-field class="w-full">
            <mat-label>Buscar</mat-label>
            <input matInput autocomplete="off" (keyup)="aplicarFiltroTabla($event)" #input>
        </mat-form-field>
    </mat-card-title>
    <mat-card-content class="dashboard-card-content">
        <div class="mat-elevation-z0" style="overflow: auto;">
            <table mat-table [dataSource]="dataListaMarcas">
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef class="w-0" mat-sort-header> ID. </th>
                    <td mat-cell *matCellDef="let element"> {{element.id_marca}} </td>
                </ng-container>

                <!-- Nombre Column -->
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef class="w-15"> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{element.nombre_marca}} </td>
                </ng-container>

                <!-- Descripcion Column -->
                <ng-container matColumnDef="descripcion">
                    <th mat-header-cell *matHeaderCellDef class="w-15"> Descripción </th>
                    <td mat-cell *matCellDef="let element" class="text-justify"> {{element.descripcion_marca}} </td>
                </ng-container>

                <!-- Acciones Column -->
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef class="w-5">Acciones</th>
                    <td mat-cell *matCellDef="let element" style="text-align: start;">
                        <a class="pointer text-sky-700 hover:text-sky-600" matTooltip="Editar Marca" (click)="updateMarca(element)">
                            <mat-icon>edit</mat-icon>
                        </a>
                        <a class="pointer text-red-500 hover:text-red-400" matTooltip="Eliminar Marca" (click)="deleteMarca(element.id_marca)">
                            <mat-icon>delete</mat-icon>
                        </a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No hay datos que concidan con: "{{ input.value }}"</td>
                </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
            </mat-paginator>
        </div>
    </mat-card-content>
</mat-card>